# Logs
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?



backend/.env
backend/.env.local
backend/.firebaserc
backend/firebase-debug.log
backend/venv/*
backend/__pycache__/
backend/*.pyc
backend/*.pyo
backend/.pytest_cache/
backend/.mypy_cache/
backend/.coverage
backend/htmlcov/
backend/.ropeproject/
backend/.vscode/*
!backend/.vscode/extensions.json